@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

body{
    background: rgba(243, 227, 203, 0.495);
    text-align: center;
}
header{
    text-align: left;
    margin-left: 10%;
}

footer{
    padding: 1%;
    border-top: 1px solid #f39c66;
}

footer a{
    text-decoration: none;
    color: #f39c66;
}

main{
    padding-bottom: 5%;
}

img{
    width: 100%;
}

.about{
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 30%;
    text-align: left;
    letter-spacing: .2rem;
    line-height: 2.5;

}
.about h1{
    color: #f39c66;
}
.logos img{
    width: 100%;
}

.logos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.logo{
    width:8%;
    margin:2%;
}

h1{
    margin-top: 25%;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    font-size: 2.7vw;
}
h2{
    margin-top: 25%;
    font-family: 'Poppins';
    font-size: 2.2vw;
}
h3{
    font-family: 'Poppins';
    font-size: 1.5vw;
}
p{
    font-family: 'Mulish';
    font-size: 1.3vw;
    line-height: 150%;
}
.sites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sites-container a{
    text-decoration: underline;
    color: rgb(137, 107, 62);
}

.site-card {
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 360px;
    background: rgba(255, 255, 255, 0.315);
}

.site-card img{
    border-radius: 0.5rem;
    max-height: 180px;
}

.site-card:hover {
    background:  #ffffff72;
}

@media only screen and (max-width: 812px) {
    
    h1{
        font-size: 4.0vw;
    }
    h2{
        font-size: 3.8vw;
    }
    h3{
        font-size: 3.4vw;
    }
    p{
        font-size: 3.1vw;
    }
    .logos p{
        display: none;
    }
}